body{
  background-color: #F8F8F8;
}

main{
  background-color: white;
  width:500px;
  margin: 0 auto;
  margin-top:60px;
  text-align: center;
  box-shadow: 10px 10px 20px gray;
  min-height: 700px;
}

.logo{
  padding:20px;
  background-color: #349393;
  color: white;
}