.input-wrap div{
  margin:10px;
}

.subject{
  color: #464A4A;
  border: none;
  border-bottom: 0.5px solid #349393;
  width:80%;
  padding:5px 2px;
  font-size: 15px;
}

.content{
  color: #464A4A;
  border: none;
  border: 0.5px solid #349393;
  border-radius: 5px;
  height:50px;
  width:80%;
  resize: none;
  padding:5px;
}

.addBtn{
  background-color: #349393;
  border:2px solid #349393;
  color:white;
  padding:5px 30px;
  vertical-align: center;
  margin-bottom:10px;
  font-size: 15px;
  border-radius: 5px;
}

.addBtn:hover{
  background-color: white;
  border: 2px solid #349393 ;
  color:#349393;
  padding:5px 30px;
  vertical-align: center;
  margin-bottom:10px;
  font-size: 15px;
  border-radius: 5px;
}