.listDiv{
    width:100%;
    height:450px;
    overflow-y: scroll;
}

.ellipsis{
    width:410px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.description{
    margin: 5px 17px;
    width: 380px;
    resize: none;
    line-height: 20px;
    padding:5px;
    border: 0.5px solid #349393;
    border-radius: 5px;
}